*.log
*.zip
*.bak
.vscode/
*.ps1xml
*.pssc
#*.psm1
#*.psd1

# Ignore test result output
Tests/*.xml
/gamelibautoarchiver/Start-GameLibraryArchive-log.txt
/gamelibautoarchiver/Start-GameLibraryArchive-log2.txt
